.table
{background: #0b2b61;
 background: -moz-linear-gradient(top, #0b2b61, #1153c0);
 background: -webkit-gradient(linear, left top, left bottom, from(#0b2b61), to(#1153c0));
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 -moz-box-shadow: 2px 3px 10px #011331;
 -webkit-box-shadow: 2px 3px 10px #011331;
border:1px solid #0044A7; 
width:80%;
margin-left:auto; 
margin-right:auto;
margin-top:30px;
padding:15px;
}
h 
{font-family:Calibri;
font-size:25px;
color: #e3e3e3;}
p{font-family:Calibri;
font-size:20px;
color: #e3e3e3;}
h1
{font-family:Calibri;
font-size:30px;
color: #e3e3e3;
text-align:center;}

.link :hover {color: #1975FF; font-size:30px;}
	:visited {color:#f7002f;}
	:link {color: #0095ba;}
	:active { color:blue;} 
	

