table 
{
width: 70%;
background-color: #58D0EE;
border-radius:  10px 10px 10px 10px;
border-color: #0044A7;
}
#wrapper {
    position: absolute;
    left: 50%; top: 50%; /*move the object to the center of the parent object*/
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);}

#logo
{text-align: center;}


#footer
{
	font-family: Calibri;
	height: 50px;
	text-align: center;
	border-radius:  10px 10px 10px 10px;
	color: #0044A7;
}

body
{
   background:#0095BA;
}

img
{
padding: 10px;

}


